.partial[data-partial="components/m5_expandable"] {
  width: 100%;

  background-color: #fff;
  p {
    opacity: 0
  }
}

html {
  transform-origin: top;
}

html, body {
  width: 100%;

}

html.fixed {
  position: fixed;
}
