.partial[data-partial="components/parallax-container"] {
  &.right-to-left {
    direction: rtl;
  }

  picture {
    vertical-align: middle;
    display: inline-block;
    width: 50%;
  }

  h2 {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1em;
  }
}
