.partial[data-partial="elements/link/image"] {
  position: relative;
  display: inline-block;

  .partial[data-partial*="elements/headline"] {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 60%;
    margin: auto;
    text-align: center;
  }
}
