---

---
{{#block "header"}}
  {{{mixin "components/m1_header" globals.header}}}
{{/block}}

<main>
  {{#block "main"}}{{/block}}
</main>

{{#block "footer"}}
  {{{mixin "components/m2_footer" globals.footer}}}
{{/block}}
