---
headline: "Your browser is out-of-date!"
message: "Update your browser to view this website correctly."
link:
    url: "http://outdatedbrowser.com/"
    id: "btnUpdateBrowser"
    title: "Update my browser now"
close:
    id: "btnCloseUpdateBrowser"
    url: "#"
    title: "close"
---
<section id="outdated" class="partial controller js-hidden" data-partial="common/outdatedbrowser" data-controller="./partials/common/OutdatedBrowser">
    <h6>{{headline}}</h6>
    <p>{{{message}}} {{{mixin "elements/link" link}}}</p>
    <p class="last">{{#mixin "elements/link" close}}{{#content "title"}}&times;{{/content}}{{/mixin}}</p>
</section>
