---
text: "xyz"
---
<div class="partial controller" data-partial="components/animation" data-controller="./partials/components/Animation"{{#if target}} data-target="{{{target}}}"{{/if}}>
  {{{text}}}
</div>
