---
list:
  -
    url: "#1"
    title: "Test 1"
  -
    url: "#2"
    title: "Test 2"
---
<header class="partial controller js-slideDown" data-partial="components/header" data-controller="./partials/components/Header">
  {{#with list}}
    <nav>
      <ul>
        {{#each this}}
          <li>{{{mixin "elements/link" this}}}</li>
        {{/each}}
      </ul>
    </nav>
  {{/with}}
</header>
