---
angle: 45
---
<div class="partial controller" data-partial="fragments/rotateable-point" data-controller="./partials/fragments/RotateableHandle" data-angle="{{{angle}}}" touch-action="none">
  {{{mixin "elements/link" class="handle" url="#handle" title="" rel="nofollow"}}}
</div>
