.partial[data-partial*="elements/headline"] {
  margin: 0;
  padding: 0;
}

@import "./headline/h1.pcss";
@import "./headline/h2.pcss";
@import "./headline/h3.pcss";
@import "./headline/h4.pcss";
@import "./headline/h5.pcss";
