@import "../../generated/pcss/purecss/custom-media-variables.pcss";

@import "../../generated/pcss/purecss/base.css";
@import "../../generated/pcss/purecss/grids-core.css";
@import "../../generated/pcss/purecss/custom-grid.css";
@import "../../generated/pcss/purecss/custom-grid-offset.css";

/* optional */
@import "../../generated/pcss/purecss/custom-grid-gutter.css";
@import "../../generated/pcss/purecss/custom-wrapper.css";

img[data-preload] {
  display: none;
}

@import "./fonts.pcss";
@import "./partials/layouts.pcss";
@import "./partials/common.pcss";
@import "./partials/elements/picture.pcss";
