@import "../../generated/pcss/purecss/custom-media-variables.pcss";
@import "./base/mixins.pcss";
@import "./services.pcss";
@import "./partials.pcss";

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}
