.partial[data-partial="components/section/m4-2_teaser"] {
  font-size: 0;

  &.right-to-left {
    direction: rtl;
  }

  picture {
    vertical-align: middle;
    display: inline-block;
    width: 50%;
  }

  .partial[data-partial="fragments/headline-text"] {
    display: inline-block;
    vertical-align: middle;
    margin: 0 3%;
    width: 44%;
    font-size: 1rem;
    direction: ltr;
  }
}
